.moviesList-ul {
    list-style-type:none;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr);  */
}

.moviesList-li {
    padding: 25px;
}