.App {
  text-align: left;
  box-sizing: border-box;
  background: #f2f2f2;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter-cmp {
  width: 200px;
  text-align: center;
  background-color: azure;
  border: 2px solid;
  margin: 10px;
  padding: 10px;
}

.counter-button {
  background-color: aliceblue;
  color: black;
}

.searchForm-input {
  background: rgba(50, 50, 50, 0.8);
  mix-blend-mode: normal;
  opacity: 0.7;
  border-radius: 4px;
}

.searchForm-button {
  background: #f65261;
  border-radius: 4px;
}

.searchForm-title {
  width: 392px;
  height: 49px;
  left: 178px;
  top: 155px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.genreSelect-ul {
  margin-top: 30px;
  background: #232323;
  border: 1px solid #979797;
}

.genreSelect-li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline;
  margin-left: 3px;
}

.genreSelect-li.active {
  background-color: #23C9FF;
  border: 1px solid #5EB2F2;
  color: #FFF;
}

.selected {
  background: #f65261;
}

li {
  cursor: pointer;
}